/* BASE STYLES */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}


#about, #work, #contact {
    height: 600px;
}

/* GRID */

.full-width {
    width: 1200px;
    margin: 0 auto;
}


.half-width {
    width: 600px;
    float: left;
}


.third-width {
    width: 400px;
    float: left;
}

/* HEADER SECTION */

header {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}


header h1 { 
    padding: 65px 0 65px 25px;
    font-size: 30px;
    color: #bbc085;
    font-family: 'Lora', sans-serif;
}


nav {
    float: right; 
    padding: 75px  0px;
}


nav ul li{
    display: inline-block;
}


nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    color: #909090;
    padding-left: 80px; 
}



header h2 {
    width: 970px;
    clear: both;
    font-family: 'Lora', sans-serif;
    font-size: 70px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 49px 0 20px 25px;
}


header h2 span {
    color: #2b2b2b;
}


/* ABOUT SECTION */

#about .full-width {
    padding: 80px 0;
}


#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 68px;
}


#about p {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-left: 68px;
    padding-right: 87px;
}

/* WORK SECTION */

#work {
    background: #f9ceb7;
}


#work .full-width {
    padding: 115px 0;
    text-align: center;
 
    
}

#work img {
    padding-bottom: 30px;
}


#work h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    width: 398px;
    
}


#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    color: #2b2b2b;
}

/* CONTACT SECTION */

#contact {
    background: #ebebeb;
}


#contact .full-width {
    padding: 110px 0;
}


#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}


#contact h2, #contact #email-header, 
#contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}


#contact #envelope {
    padding: 0 10px 0 115px;
}


#contact h2 {
    font-family: 'Lora', sans-serif;
    font-size: 36px;
    line-height: 44px;
}


#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}


#contact #socialmedia-header {
    font-weight: 700;
    font-size:  29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}


#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: 700;
    font-size: 28px;
}



#contact ul {
    list-style: none;
}


#contact ul li {
     display: inline-block;
}


#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/* GALLERY LAYOUT */

#header-gallery {
    background: none;
    height: 210px;
    clear: both;
}
 #gallery {
   padding-left: 10px;
}

#gallery .tw-1 {
    background: url(../img/art-site.png);
    border-radius: 5px;
    background-size: contain;
    float: left;
    height: 300px;
    margin: 15px 49px;
    padding: -1px 26px;
    transition: all .5s ease-in-out;
}

#gallery .tw-1:hover  {
    -webkit-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
} 


#gallery .tw-2 {
    background: url(../img/ecommerce-app.png);
    border-radius: 5px;
    background-size: contain;
    float: left;
    height: 300px;
    margin: 15px 49px;
    padding: -1px 26px;
    transition: all .5s ease-in-out;
}

#gallery .tw-2:hover  {
    -webkit-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
} 

#gallery .tw-3 {
    background: url(../img/hobby-site.png);
    border-radius: 5px;
    background-size: contain;
    float: left;
    height: 300px;
    margin: 15px 49px;
    padding: -1px 26px;
    transition: all .5s ease-in-out;
}

#gallery .tw-3:hover  {
    -webkit-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px 3px rgba(0,0,0,0.75);
} 


